---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <main class="p-4" data-barba="container" data-barba-namespace="about">
    <h1 class="text-8xl font-bold">About</h1>
  </main>
</Layout>
