---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <main data-barba="container" data-barba-namespace="about">
    <div class="h-400vh bg-bgColor relative">
      <h1 class="text-8xl font-bold ml-4" id="titlehome">About</h1>
    </div>
  </main>
</Layout>

<script></script>
