---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact">
  <main class="p-4" data-barba="container" data-barba-namespace="contact">
    <h1 class="text-8xl font-bold">Contact</h1>
  </main>
</Layout>
