---
import Layout from "../layouts/Layout.astro";
import ToggleBottomBar from "../components/ToggleBottomBar";
import HeroSection from "../components/HeroSection/HeroSection";
import FixedImage from "../components/FixedImage.astro";
---

<Layout title="Evan Solanoy">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-0.5px -z-2 bg-bgColor relative"
  >
    <div class="sticky -z-1 -mb-100vh top-20vh">
      <HeroSection client:load />
      <div class="h-100vh"></div>
    </div>
    <div class="z-20 bg-secondary rounded-t-10vh h-200vh w-full p-10">
      <FixedImage />
    </div>
  </main>
</Layout>

<script></script>
