---
import Layout from "../layouts/Layout.astro";
import ToggleBottomBar from "../components/ToggleBottomBar";
import HeroSection from "../components/HeroSection/HeroSection";
---

<Layout title="Evan Solanoy">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-4 overflow-hidden bg-white"
  >
    <HeroSection client:only />
    <div class="h-200vh"></div>
  </main>
</Layout>

<script>
  import { animate, inView } from "motion";
  import barba from "@barba/core";

  inView("#indexpage", (e) => {
    console.log(e);
    animate("#titlehome", { y: ["-100vh", 0] }, { duration: 3, delay: 1 });
  });
</script>
