---
import Layout from "../layouts/Layout.astro";
import ToggleBottomBar from "../components/ToggleBottomBar";
import HeroSection from "../components/HeroSection/HeroSection";
import FixedImage from "../components/FixedImage.astro";
import MarqueeComp from "../components/MarqueeComp/MarqueeComp";
import SecondSec from "../components/SecondSec";
import FixedImageReact from "../components/FixedImageReact";
---

<Layout title="Evan Solanoy">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-0.5px -z-2 bg-bgColor relative"
  >
    <div class="sticky -z-1 -mb-100vh top-20vh">
      <HeroSection client:only />
      <div class="h-100vh"></div>
    </div>
    <div class="z-20 bg-secondary rounded-t-10vh pt-20 h-400vh w-full pb-20">
      <MarqueeComp client:only />
      <FixedImageReact client:only />
      <!-- <FixedImage /> -->
      <div class="h-150vh w-full"></div>
      <SecondSec client:load />
    </div>
    <div class="w-full h-200vh bg-bgColor"></div>
  </main>
</Layout>

<script>
  import { routeName, handleMarquee } from "../globalStore.ts";

  routeName.subscribe(() => {
    handleMarquee("none");
  });
</script>
