---
import Layout from "../layouts/Layout.astro";
import ToggleBottomBar from "../components/ToggleBottomBar";
import HeroSection from "../components/HeroSection/HeroSection";
---

<Layout title="Evan Solanoy">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-4 -z-2 bg-bgColor relative"
  >
    <div class="sticky -z-1 -mb-100vh top-20vh">
      <HeroSection client:load />
      <div class="h-100vh"></div>
    </div>
    <div class="z-20 bg-secondary rounded-t-10vh h-200vh w-full"></div>
  </main>
</Layout>

<script>
  import { animate, inView } from "motion";

  inView("#indexpage", (e) => {
    console.log(e);
    animate("#titlehome", { y: ["-100vh", 0] }, { duration: 3, delay: 1 });
  });
</script>
