---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection/HeroSection";
import MarqueeComp from "../components/MarqueeComp/MarqueeComp";
import SecondSec from "../components/SecondSec";
import FixedImageReact from "../components/FixedImageReact";
import MidSection from "../components/MidSection";
import FixedImage from "../components/FixedImage.astro";
import FadingText from "../components/FadingText";
---

<Layout title="Evan Solanoy">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-0.5px -z-2 bg-bgColor relative"
  >
    <div class="sticky -z-1 -mb-100vh top-20vh">
      <HeroSection client:only="react" />
      <div class="h-100vh"></div>
    </div>
    <div class="z-20 bg-secondary rounded-t-10vh pt-20 h-400vh w-full pb-20">
      <MarqueeComp client:only="react" />
      <div class="flex justify-between items-center">
        <div class="w-50%">
          <FixedImageReact client:only="react" />
        </div>
        <FadingText client:only />
      </div>
      <!-- <FixedImage /> -->
      <div class="h-150vh w-full flex flex-col items-center">
        <h1
          class="text-center text-20px font-semibold mt-20 pt-20 border-t-2 text-white opacity-50 border-t-white"
        >
          A new tech doesn't always mean a new problem nor a new solution, it's
          an investment for the future.
        </h1>
        <button
          class="w-20% h-fit rounded-full text-center bg-bgColor text-20px font-semibold mt-20 px-8 py-6 border-t-2 text-slate-500 opacity-50 border-t-white"
        >
          Visit Projects Page?
        </button>
      </div>
      <SecondSec client:load />
    </div>

    <MidSection client:only="react" />

    <div class="w-full h-100vh rounded-t-10vh -mt-100vh bg-primary z-1">
      <div class="h-80vh"></div>
      <div
        class="bg-platinum h-20vh rounded-t-10vh flex justify-center bottom-0 items-center sticky"
      >
        <div class="w-80vw flex gap-10 justify-between items-center px-10">
          <h1 class="text-5xl w-30% text-center">Contact</h1>
          <p class="text-center w-30% text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quae voluptates voluptatem quod
            voluptatibus quos doloribus quidem voluptate.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { routeName, handleMarquee } from "../globalStore";
</script>
