---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection/HeroSection";
import MarqueeComp from "../components/MarqueeComp/MarqueeComp";
import SecondSec from "../components/SecondSec";
import FixedImageReact from "../components/FixedImageReact";
import MidSection from "../components/MidSection";
import FixedImage from "../components/FixedImage.astro";
import FadingText from "../components/FadingText";
import { PositionButton } from "../components/Position-Button";
import { ProjectScroll } from "../components/ProjectScroll";
---

<Layout title="Evan Solanoy">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-0.5px -z-2 bg-bgColor relative"
  >
    <div class="sticky -z-1 -mb-100vh top-20vh">
      <HeroSection client:only="react" />
      <div class="h-100vh"></div>
    </div>
    <div class="z-20 bg-secondary rounded-t-10vh pt-20 h-400vh w-full pb-20">
      <MarqueeComp client:only="react" />
      <div class="flex justify-between items-center">
        <div class="w-50% flex justify-center items-center">
          <FixedImageReact client:only="react" />
        </div>
        <FadingText client:only />
      </div>
      <!-- <FixedImage /> -->
      <div class="h-320vh w-full flex flex-col items-center">
        <h1
          class="text-center text-20px font-semibold mt-20 pt-20 border-t-2 text-white opacity-50 border-t-white"
        >
          A new tech doesn't always mean a new problem nor a new solution, it's
          an investment for the future.
        </h1>
        <PositionButton
          client:only="react"
          text="Visit Projects Page?"
          link="/projects"
        />
        <ProjectScroll client:only />
      </div>
    </div>

    <MidSection client:only="react" />

    <div class="w-full h-100vh rounded-t-10vh -mt-100vh bg-primary z-1">
      <div class="h-80vh flex justify-center items-center flex-col gap-8">
        <h1 class="text-white text-center text-8xl font-semibold">
          Have a project in mind?
        </h1>
        <p class="text-white text-center text-2xl">
          I'm currently available for freelance work.
        </p>
        <PositionButton client:only="react" text="Contact Me" link="/contact" />
      </div>
      <div
        class="bg-platinum h-20vh rounded-t-10vh flex justify-center bottom-0 items-center sticky"
      >
        <div class="w-80vw flex gap-10 justify-between items-center px-10">
          <div class="flex gap-2">
            <h1 class="text-md w-20 text-center">LinkedIn</h1>
            <p>-</p>
            <h1 class="text-md w-20 text-center">Facebook</h1>
            <p>-</p>
            <h1 class="text-md w-20 text-center">Instagram</h1>
            <p>-</p>
            <h1 class="text-md w-20 text-center">Telegram</h1>
          </div>
          <p class="text-center w-30% text-justify">
            Designed and Developed by Evan Solanoy <br />
            ©2024 – All Rights Reserved <br />
            <a href="mailto:evansolanoy@gmail.com">evansolanoy@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { routeName, handleMarquee } from "../globalStore";
</script>
