---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ToggleBottomBar from "../components/ToggleBottomBar";
---

<Layout title="Welcome to Astro.">
  <main
    id="indexpage"
    data-barba="container"
    data-barba-container="home"
    class="p-4 overflow-hidden"
  >
    <h1 class="text-8xl font-bold" id="titlehome">Home</h1>
    <div class="h-screen w-full"></div>
    <div class="h-screen w-full"></div>
  </main>
</Layout>

<script>
  import { animate, inView } from "motion";
  import barba from "@barba/core";

  inView("#indexpage", (e) => {
    console.log(e);
    animate("#titlehome", { y: ["-100vh", 0] }, { duration: 3, delay: 1 });
  });
</script>
