---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main data-barba="container" data-barba-container="home" class="p-4">
    <h1 class="text-8xl font-bold">Home</h1>
  </main>
</Layout>
