<div class="fixed__image"></div>

<style is:global>
  .fixed__image::before {
    position: fixed;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 60vw;
    border-radius: 5vh;
    background-image: url("https://images.unsplash.com/photo-1704589148269-dbd0e200e69f?q=80&w=1588&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
</style>
