<div class="rounded-6vh overflow-hidden h-20% w-50vw m-10">
  <img
    src="https://images.unsplash.com/photo-1661837317792-47854d3b4353?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="parallax"
    id="img1"
  />
</div>

<script>
  import gsap from "gsap";
  import { inView } from "motion";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { handleMarquee } from "../globalStore";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to("#img1", {
    scrollTrigger: {
      trigger: "#img1",
      start: "top bottom",
      end: "bottom top",
      scrub: true,
      markers: true,
    },
    y: -400,
    ease: "none",
  });

  inView("#img1", (el) => {
    handleMarquee("intro");
    console.log("intro");

    return () => {
      handleMarquee("none");
    };
  });
</script>
