---
import NavBarSelection from "./HeroSection/NavBarSelection";
---

<div
  class="flex px-10 py-5 z-10 bg-bgColor text-primary justify-between items-center"
>
  <img id="logo" src="/favicon.svg" alt="logo" class="w-3vw" />
  <NavBarSelection client:only />
</div>

<script>
  const h1 = document.getElementById("logo");

  setTimeout(() => {
    h1?.classList.add("text-4xl");
  }, 4000);
</script>
