<div class="flex px-10 py-5 justify-between items-center">
  <h1 class="text-4xl">Logo</h1>
  <div class="flex gap-10 list-none">
    <a href="/about" class="text-xl">About</a>
    <a href="/" class="text-xl">Home</a>
    <a href="/contact" class="text-xl">Contact</a>
  </div>
</div>
