<div id="secondSec" class="h-100vh bg-platinum w-full"></div>

<script>
  import { inView } from "motion";
  import { handleMarquee, marqueeState } from "../globalStore";

  inView("#secondSec", (el) => {
    handleMarquee("second");

    return () => {
      handleMarquee("none");
    };
  });
</script>
