---
import LayoutWrapper from "../components/LayoutWrapper";
import Navbar from "../components/Navbar";
import Preloader from "../components/Preloader.astro";
import ToggleBottomBar from "../components/ToggleBottomBar";
import { ViewTransitions } from "astro:transitions";
import ViewControl from "../components/ViewControl";
import Transition from "../components/Transition.astro";
import CustomMouse from "../components/HeroSection/CustomMouse";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <title>{title}</title>
  <!-- <ViewTransitions /> -->
</head>
<body id="smooth-wrapper" data-barba="wrapper">
  <ToggleBottomBar client:only />
  <Transition />
  <Preloader />
  <ViewControl client:only>
    <Navbar client:visible />
  </ViewControl>
  <LayoutWrapper client:load>
    <slot />
  </LayoutWrapper>
</body>

<style lang="scss" is:global>
  @import "/node_modules/locomotive-scroll/dist/locomotive-scroll.css";
  @import "/node_modules/react-grid-layout/css/styles.css";
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  // * {
  //   border: 1px solid red;
  // }

  * {
    min-width: 0;
  }

  html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
</style>

<script>
  // @ts-ignore
  import LocomotiveScroll from "locomotive-scroll";

  const locomotiveScroll = new LocomotiveScroll();
</script>
